Source: libxfont
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Branden Robinson <branden@debian.org>, Fabio M. Di Nitto <fabbione@fabbione.net>, Drew Parsons <dparsons@debian.org>
Build-Depends: debhelper (>= 5), pkg-config, libfontenc-dev, x11proto-core-dev, xtrans-dev, x11proto-fonts-dev, x11proto-fontcache-dev, libfreetype6-dev, quilt
Standards-Version: 3.7.2
XS-Vcs-Git: git://git.debian.org/git/pkg-xorg/lib/libxfont
XS-Vcs-Browser:  http://git.debian.org/?p=pkg-xorg/lib/libxfont.git

Package: libxfont1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, x11-common
Description: X11 font rasterisation library
 libXfont provides various services for X servers, most notably font
 selection and rasterisation (through external libraries).
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>

Package: libxfont1-dbg
Architecture: any
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}, x11-common, libxfont1 (= ${binary:Version})
Description: X11 font rasterisation library (debug package)
 libXfont provides various services for X servers, most notably font
 selection and rasterisation (through external libraries).
 .
 This package contains the debug versions of the library found in libxfont1.
 Non-developers likely have little use for this package.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>

Package: libxfont-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxfont1 (= ${binary:Version}), libx11-dev, x11proto-core-dev, x11proto-fonts-dev, libfreetype6-dev, libfontenc-dev (>= 1:1.0.1-1)
Pre-Depends: x11-common (>= 1:7.0.0)
Replaces: xlibs-static-dev (<< 6.8.2-51)
Description: X11 font rasterisation library (development headers)
 libXfont provides various services for X servers, most notably font
 selection and rasterisation (through external libraries).
 .
 This package contains the development headers for the library found in
 libxfont1.  Non-developers likely have little use for this package.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
