#!/usr/bin/make -f

PACKAGE  = libxfont1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

CFLAGS   = $(shell dpkg-buildflags --get CFLAGS)
CFLAGS  += -Wall
CPPFLAGS = $(shell dpkg-buildflags --get CPPFLAGS)
LDFLAGS  = $(shell dpkg-buildflags --get LDFLAGS)

# Strip -Bsymbolic-functions (set by default on Ubuntu) to avoid breakages:
LDFLAGS := $(LDFLAGS:-Wl,-Bsymbolic-functions=)

CONFFLAGS += \
	--disable-fc \
	--enable-builtins \
	--enable-pcfformat \
	--enable-bdfformat \
	--enable-devel-docs \
	--without-fop \
	--disable-silent-rules \
	--libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
	CFLAGS="$(CFLAGS)" \
	CPPFLAGS="$(CPPFLAGS)" \
	LDFLAGS="$(LDFLAGS)"


override_dh_auto_configure:
	dh_auto_configure -- --with-bzip2    --with-xmlto    $(CONFFLAGS)

override_dh_install:
	find debian/tmp -name '*.la' -delete
	dh_install -a --fail-missing

override_dh_strip:
	dh_strip -p$(PACKAGE) --dbg-package=$(PACKAGE)-dbg
	dh_strip -N$(PACKAGE)

override_dh_makeshlibs:
	dh_makeshlibs -V'libxfont1 (>= 1:1.4.2)'

%:
	dh $@ --with quilt,autoreconf --parallel --builddirectory=build/
